<?xml version="1.0"?>
<!--
/**
 * Magearya
 *
 * @category    Magearya
 * @package     Magearya_InformativeProduct
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magearya_InformativeProduct" version="1.0.1"></module>
</config>
